@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@200;300&display=swap');

@import './header.css';
@import './main.css';
@import './footer.css';

 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
     
    z-index: 5;
   
}

.container{
    padding: 2rem 1rem;
    max-width: 1150px;
    margin-inline: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

h1 , h2{
    text-transform: uppercase;
    font-weight: 300;

}


h1{
    color: #fff;
    font-size: 2rem;
    max-width: 295px;
    border: 2px solid #fff;
    padding: 1.1rem;
    margin: 8rem 0;

}

h2{
    font-size: 1.5rem;
    margin: 1em;
}

p ,
.btn{
    line-height: 1.6;
    font-family: 'Alata', sans-serif;
}

@media(min-width:800px){
    h1{
        max-width: 330px;
    }
    h2{
        margin:0 0 0.5em 0;
        font-size: 1.8rem;
         
    }
}