

section{
    margin: 3.5rem 0;
}

.section1{
   
    text-align: center;
}

.content{
 
    width: 80%;
    margin-inline: auto;
}

.section2{
 
    text-align: center;
    position: relative;
    padding-bottom: 4rem;
    
}

/* gallary */

.gallary{
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        'one'
        'two'
        'three'
        'four'
        'five'
        'six'
        'seven'
        'eight'
    ;
}

/* card-text */
.card{
     
    position: relative;
}

.card:hover{
    cursor: pointer;
    opacity: 0.4;
}
.card-text{
   
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.35rem;
    color: #fff;
    text-transform: uppercase;
}


.gallary-img{
    min-width: 340px;
}
.gallary-img img{
    width: 100%;
}
.card:first-child{
    grid-area: one;
}

.card:nth-child(2){
    grid-area:two;
}
.card:nth-child(3){
    grid-area:three;
}
.card:nth-child(4){
 
    grid-area:four;
}
.card:nth-child(5){
    grid-area:five;
}
.card:nth-child(6){
 
    grid-area:six;
}
.card:nth-child(7){
 
    grid-area:seven;
}
.card:nth-child(8){
    grid-area:eight;
}

/* image */
.img{
    min-width: 370px;

}

.img img{
    width: 100%;
}

/* button */
.btn{
    text-transform: uppercase;
    padding:0.4rem 1.5rem;
    letter-spacing: 5px;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid black;
     
   position:absolute ;
   bottom: 0;
   left: 50%;
    transform: translate(-50%, 0)


}
.btn:hover{
    cursor: pointer;
    background: black;
    color:#fff;
}

@media(min-width:600px){

    .gallary{
         
        grid-template-areas:
            'one two'
            'three four'
            'five six'
            'seven eight'
        ;
    }

    .gallary-img{
        min-width: 300px;

    }
    
}

@media(min-width:800px){
    .gallary{
         
        grid-template-areas:
            'one two three four'
            'five six seven eight'
             
        ;
    }

    .gallary-img{
        /* min-width: 100px; */
        max-width: 150px;
    }
    .gallary-img img{
        width: 100%;
    }

 
    .section2 h2{
        
        text-align: left;
        margin: 0 0 2.5rem;
    }

    .btn{
        bottom: unset;
        left: unset;
        transform: unset;

        right: 0;
        top: 0;

    }

    /* section 1 */
    .section1{
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
    }
    .img ,
    .content{
        grid-row: 1/2;
    }
    .img{
        grid-column: 1/4;
      

    }
    .img img{
        width: 100%;
         
    }
    .content{
        padding: 3.5rem 0 0 3.5rem;
        /* border: 1px solid red; */
        min-height: 250px;
        background-color: #fff;
        grid-column: 3/-1;
        align-self: last baseline;
        text-align: left;
         
    }
    
}